{"openapi":"3.1.0","info":{"title":"Task Manager API","description":"A production-grade REST API for managing tasks, assignments, comments, and attachments. Supports pagination, search, and batch operations.","version":"2.4.1","contact":{"name":"Platform Engineering","email":"api-support@taskmanager.io","url":"https://developer.taskmanager.io"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"}},"servers":[{"url":"https://api.taskmanager.io/v2","description":"Production"},{"url":"https://staging.taskmanager.io/v2","description":"Staging"},{"url":"http://localhost:8080/v2","description":"Local development"}],"security":[{"bearerAuth":[]},{"apiKey":[]}],"tags":[{"name":"Tasks","description":"Core task CRUD operations"},{"name":"Assignments","description":"Task assignment and reassignment"},{"name":"Comments","description":"Task comment threads"},{"name":"Attachments","description":"File attachments on tasks"},{"name":"Search & Batch","description":"Search and bulk operations"}],"paths":{"/tasks":{"get":{"tags":["Tasks"],"summary":"List all tasks with pagination and filtering","operationId":"listTasks","parameters":[{"name":"status","in":"query","description":"Filter by task status","schema":{"$ref":"#/components/schemas/TaskStatus"},"example":"in_progress"},{"name":"priority","in":"query","description":"Filter by priority","schema":{"$ref":"#/components/schemas/Priority"}},{"name":"assignee_id","in":"query","description":"Filter by assigned user ID","schema":{"type":"string","format":"uuid"}},{"name":"created_after","in":"query","description":"Tasks created on or after this date","schema":{"type":"string","format":"date-time"},"example":"2025-01-01T00:00:00Z"},{"name":"created_before","in":"query","description":"Tasks created on or before this date","schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","description":"Page number (1-indexed)","schema":{"type":"integer","minimum":1,"default":1}},{"name":"per_page","in":"query","description":"Items per page","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}}],"responses":{"200":{"description":"Paginated list of tasks","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskListResponse"},"examples":{"default":{"summary":"First page of in-progress high-priority tasks","value":{"data":[{"id":"task_01jq8x7v3a","title":"Fix authentication token refresh bug","description":"OAuth tokens are not being refreshed properly when expiry is within 60 seconds. Investigate and patch the refresh flow.","status":"in_progress","priority":"critical","assignee":{"id":"user_3k2m9f1b","name":"Jane Doe","email":"jane@example.com"},"created_by":{"id":"user_9x4q7z2c","name":"John Smith","email":"john@example.com"},"tags":["bug","auth","backend"],"due_date":"2025-08-15T23:59:59Z","created_at":"2025-07-10T08:30:45Z","updated_at":"2025-07-15T14:22:10Z","comment_count":12,"attachment_count":3}],"pagination":{"page":1,"per_page":20,"total":47,"total_pages":3}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalError"}}},"post":{"tags":["Tasks"],"summary":"Create a new task","operationId":"createTask","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskCreateRequest"},"examples":{"full":{"summary":"Task with all fields","value":{"title":"Implement two-factor authentication","description":"Add TOTP-based 2FA for all user accounts. Must include backup codes and recovery flow.","priority":"high","assignee_id":"user_3k2m9f1b","tags":["security","auth","2fa"],"due_date":"2025-09-01T00:00:00Z"}},"minimal":{"summary":"Task with required fields only","value":{"title":"Update onboarding documentation"}}}}}},"responses":{"201":{"description":"Task created successfully","headers":{"Location":{"description":"URL of the created task","schema":{"type":"string","format":"uri"},"example":"/v2/tasks/task_01jq8x7v3a"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"},"examples":{"result":{"value":{"id":"task_01jq8x7v3a","title":"Implement two-factor authentication","description":"Add TOTP-based 2FA for all user accounts. Must include backup codes and recovery flow.","status":"open","priority":"high","assignee":{"id":"user_3k2m9f1b","name":"Jane Doe","email":"jane@example.com"},"created_by":{"id":"user_9x4q7z2c","name":"John Smith","email":"john@example.com"},"tags":["security","auth","2fa"],"due_date":"2025-09-01T00:00:00Z","created_at":"2025-07-16T10:15:30Z","updated_at":"2025-07-16T10:15:30Z","comment_count":0,"attachment_count":0}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/tasks/{task_id}":{"get":{"tags":["Tasks"],"summary":"Get a single task by ID","operationId":"getTask","parameters":[{"name":"task_id","in":"path","required":true,"description":"The unique identifier of the task","schema":{"type":"string","pattern":"^task_[a-z0-9]{10}$"},"example":"task_01jq8x7v3a"}],"responses":{"200":{"description":"Task retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalError"}}},"patch":{"tags":["Tasks"],"summary":"Update a task partially","operationId":"updateTask","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","pattern":"^task_[a-z0-9]{10}$"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskUpdateRequest"},"examples":{"statusChange":{"summary":"Move task to review","value":{"status":"in_review"}},"reassign":{"summary":"Reassign and bump priority","value":{"assignee_id":"user_7h2p9t5w","priority":"critical"}}}}}},"responses":{"200":{"description":"Task updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"description":"Conflict – task is locked or in a terminal state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"value":{"error":{"code":"TASK_LOCKED","message":"Cannot modify a task that is currently locked by another operation.","request_id":"req_a7b2c9"}}}}}},"500":{"$ref":"#/components/responses/InternalError"}}},"delete":{"tags":["Tasks"],"summary":"Delete a task","operationId":"deleteTask","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","pattern":"^task_[a-z0-9]{10}$"}}],"responses":{"204":{"description":"Task deleted successfully"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/tasks/{task_id}/assign":{"patch":{"tags":["Assignments"],"summary":"Assign or reassign a task to a user","operationId":"assignTask","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","pattern":"^task_[a-z0-9]{10}$"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["assignee_id"],"properties":{"assignee_id":{"type":"string","format":"uuid","description":"User ID to assign the task to"},"note":{"type":"string","maxLength":500,"description":"Optional note explaining the assignment","example":"Jane is OOO – handing this off to Carlos."}}}}}},"responses":{"200":{"description":"Task assigned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/tasks/{task_id}/comments":{"get":{"tags":["Comments"],"summary":"List comments on a task","operationId":"listComments","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","pattern":"^task_[a-z0-9]{10}$"}},{"name":"page","in":"query","schema":{"type":"integer","minimum":1,"default":1}},{"name":"per_page","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}}],"responses":{"200":{"description":"Paginated comments","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentListResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalError"}}},"post":{"tags":["Comments"],"summary":"Add a comment to a task","operationId":"createComment","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","pattern":"^task_[a-z0-9]{10}$"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["body"],"properties":{"body":{"type":"string","minLength":1,"maxLength":10000,"description":"Comment body (supports Markdown)"},"parent_id":{"type":"string","format":"uuid","description":"Reply to an existing comment"}}}}}},"responses":{"201":{"description":"Comment created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/tasks/{task_id}/attachments":{"get":{"tags":["Attachments"],"summary":"List attachments on a task","operationId":"listAttachments","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","pattern":"^task_[a-z0-9]{10}$"}}],"responses":{"200":{"description":"Attachments list","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalError"}}},"post":{"tags":["Attachments"],"summary":"Upload an attachment to a task","operationId":"uploadAttachment","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","pattern":"^task_[a-z0-9]{10}$"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary","description":"File to attach (max 25 MB)"},"description":{"type":"string","maxLength":500}}}}}},"responses":{"201":{"description":"Attachment uploaded","headers":{"Location":{"schema":{"type":"string","format":"uri"},"example":"/v2/tasks/task_01jq8x7v3a/attachments/att_f3e7d"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachment"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"413":{"description":"File exceeds 25 MB limit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"$ref":"#/components/responses/InternalError"}}}},"/tasks/search":{"post":{"tags":["Search & Batch"],"summary":"Full-text search across tasks and comments","operationId":"searchTasks","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["query"],"properties":{"query":{"type":"string","minLength":2,"maxLength":500,"description":"Search query string"},"fields":{"type":"array","items":{"type":"string","enum":["title","description","comments","tags"]},"description":"Fields to search within"},"filters":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/TaskStatus"},"priority":{"$ref":"#/components/schemas/Priority"},"assignee_id":{"type":"string","format":"uuid"},"has_attachments":{"type":"boolean"}}},"page":{"type":"integer","minimum":1,"default":1},"per_page":{"type":"integer","minimum":1,"maximum":100,"default":20}}}},"examples":{"basicSearch":{"summary":"Search for authentication-related tasks","value":{"query":"authentication refresh token","fields":["title","description"],"filters":{"status":"in_progress"}}}}}},"responses":{"200":{"description":"Search results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskListResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/tasks/batch":{"post":{"tags":["Search & Batch"],"summary":"Perform batch operations on multiple tasks","operationId":"batchTasks","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["operations"],"properties":{"operations":{"type":"array","minItems":1,"maxItems":50,"items":{"type":"object","required":["task_id","action"],"properties":{"task_id":{"type":"string","pattern":"^task_[a-z0-9]{10}$"},"action":{"type":"string","enum":["update_status","assign","set_priority","add_tag","remove_tag"]},"payload":{"type":"object","description":"Action-specific payload"}}}}}},"examples":{"bulkClose":{"summary":"Close multiple completed tasks","value":{"operations":[{"task_id":"task_01jq8x7v3a","action":"update_status","payload":{"status":"done"}},{"task_id":"task_8m2k5w9n0","action":"update_status","payload":{"status":"done"}},{"task_id":"task_4p6t3z1e5","action":"assign","payload":{"assignee_id":"user_7h2p9t5w"}}]}}}}}},"responses":{"200":{"description":"Batch operation results","content":{"application/json":{"schema":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"task_id":{"type":"string"},"action":{"type":"string"},"success":{"type":"boolean"},"status_code":{"type":"integer"},"result":{"description":"The updated resource on success, or an ErrorResponse on failure","oneOf":[{"$ref":"#/components/schemas/Task"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalError"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Standard JWT authentication. Obtain a token via POST /auth/login."},"apiKey":{"type":"apiKey","in":"header","name":"X-API-Key","description":"API key for server-to-server integrations. Provisioned in the developer dashboard."}},"schemas":{"TaskStatus":{"type":"string","enum":["open","in_progress","in_review","blocked","done","cancelled"]},"Priority":{"type":"string","enum":["low","medium","high","critical"]},"User":{"type":"object","required":["id","name","email"],"properties":{"id":{"type":"string","format":"uuid","example":"user_3k2m9f1b"},"name":{"type":"string","minLength":1,"maxLength":120,"example":"Jane Doe"},"email":{"type":"string","format":"email","maxLength":254,"example":"jane@example.com"},"avatar_url":{"type":"string","format":"uri","nullable":true,"example":"https://cdn.taskmanager.io/avatars/user_3k2m9f1b.jpg"}}},"Task":{"type":"object","required":["id","title","status","priority","created_by","created_at","updated_at","comment_count","attachment_count"],"properties":{"id":{"type":"string","pattern":"^task_[a-z0-9]{10}$","example":"task_01jq8x7v3a"},"title":{"type":"string","minLength":1,"maxLength":200},"description":{"type":"string","nullable":true,"maxLength":20000},"status":{"$ref":"#/components/schemas/TaskStatus"},"priority":{"$ref":"#/components/schemas/Priority"},"assignee":{"$ref":"#/components/schemas/User"},"created_by":{"$ref":"#/components/schemas/User"},"tags":{"type":"array","items":{"type":"string","minLength":1,"maxLength":50},"maxItems":20},"due_date":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"comment_count":{"type":"integer","minimum":0},"attachment_count":{"type":"integer","minimum":0}}},"TaskCreateRequest":{"type":"object","required":["title"],"properties":{"title":{"type":"string","minLength":1,"maxLength":200,"example":"Implement two-factor authentication"},"description":{"type":"string","maxLength":20000,"nullable":true},"priority":{"$ref":"#/components/schemas/Priority"},"assignee_id":{"type":"string","format":"uuid"},"tags":{"type":"array","items":{"type":"string","minLength":1,"maxLength":50},"maxItems":20},"due_date":{"type":"string","format":"date-time"}}},"TaskUpdateRequest":{"type":"object","minProperties":1,"properties":{"title":{"type":"string","minLength":1,"maxLength":200},"description":{"type":"string","maxLength":20000,"nullable":true},"status":{"$ref":"#/components/schemas/TaskStatus"},"priority":{"$ref":"#/components/schemas/Priority"},"assignee_id":{"type":"string","format":"uuid"},"tags":{"type":"array","items":{"type":"string","minLength":1,"maxLength":50},"maxItems":20},"due_date":{"type":"string","format":"date-time","nullable":true}}},"Comment":{"type":"object","required":["id","task_id","body","author","created_at"],"properties":{"id":{"type":"string","format":"uuid","example":"comment_a1b2c3d4"},"task_id":{"type":"string","pattern":"^task_[a-z0-9]{10}$"},"parent_id":{"type":"string","format":"uuid","nullable":true,"description":"ID of the parent comment if this is a reply"},"body":{"type":"string","minLength":1,"maxLength":10000},"body_html":{"type":"string","description":"Server-rendered HTML from the Markdown body"},"author":{"$ref":"#/components/schemas/User"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time","nullable":true}}},"Attachment":{"type":"object","required":["id","task_id","filename","mime_type","size_bytes","uploaded_by","created_at","url"],"properties":{"id":{"type":"string","pattern":"^att_[a-z0-9]{5,10}$","example":"att_f3e7d"},"task_id":{"type":"string","pattern":"^task_[a-z0-9]{10}$"},"filename":{"type":"string","minLength":1,"maxLength":255,"example":"screenshot_bug.png"},"mime_type":{"type":"string","example":"image/png"},"size_bytes":{"type":"integer","minimum":1,"maximum":26214400},"description":{"type":"string","maxLength":500,"nullable":true},"uploaded_by":{"$ref":"#/components/schemas/User"},"created_at":{"type":"string","format":"date-time"},"url":{"type":"string","format":"uri","description":"Signed download URL (expires after 1 hour)"}}},"Pagination":{"type":"object","required":["page","per_page","total","total_pages"],"properties":{"page":{"type":"integer","minimum":1},"per_page":{"type":"integer","minimum":1,"maximum":100},"total":{"type":"integer","minimum":0},"total_pages":{"type":"integer","minimum":0}}},"ErrorResponse":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message","request_id"],"properties":{"code":{"type":"string","example":"VALIDATION_ERROR"},"message":{"type":"string","example":"The request body contains invalid fields. See details for more information."},"request_id":{"type":"string","pattern":"^req_[a-z0-9]{8}$","example":"req_a7b2c9"},"details":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string"},"issue":{"type":"string"},"received":{"description":"The value that failed validation"}}}}}}}}},"TaskListResponse":{"type":"object","required":["data","pagination"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Task"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}},"CommentListResponse":{"type":"object","required":["data","pagination"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Comment"}},"pagination":{"$ref":"#/components/schemas/Pagination"}}}}},"responses":{"BadRequest":{"description":"The request was malformed or contains invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"validationError":{"summary":"Validation failure","value":{"error":{"code":"VALIDATION_ERROR","message":"The request body contains invalid fields.","request_id":"req_a7b2c9","details":[{"field":"title","issue":"must not be empty","received":""},{"field":"priority","issue":"must be one of [low, medium, high, critical]","received":"urgent"}]}}}}}}},"Unauthorized":{"description":"Authentication is missing or invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"expiredToken":{"summary":"Expired JWT","value":{"error":{"code":"UNAUTHORIZED","message":"The access token has expired. Please refresh your credentials.","request_id":"req_f1e4d2b"}}},"missingHeader":{"summary":"No Authorization header","value":{"error":{"code":"UNAUTHORIZED","message":"An Authorization header or X-API-Key header is required.","request_id":"req_c3a8b9e"}}}}}},"NotFound":{"description":"The requested resource does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"taskMissing":{"summary":"Task not found","value":{"error":{"code":"NOT_FOUND","message":"Task with ID task_99zz99zz99 was not found.","request_id":"req_d5f1a3c"}}}}}}},"InternalError":{"description":"An unexpected server error occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"serverDown":{"summary":"Database connection failure","value":{"error":{"code":"INTERNAL_ERROR","message":"An unexpected error occurred. The incident has been logged and our team will investigate.","request_id":"req_e8b2d4f"}}}}}}}}}}